@import "_mixing.scss";
@include font-face(NexaBold, "../fonts/NexaBold.ttf");
@include font-face(SegoeUI, "../fonts/segoeui");
$color-btn: #911c1c;
%shared-menu-color {
  color: #911c1c;
}

%shared-background-red {
  background-size: cover;
  background-position: center;
  background-image: url(../images/fundocontagemregressiva.jpg);
  background-repeat: no-repeat;

  color: #ffffff;
}

.scrolled {
  background-color: #ffffff !important;
  transition: 0.3s;
}

.page {
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*overflow: hidden;*/
}

.navbar-red {
  .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    i {
      @extend %shared-menu-color;
    }
  }
  .navbar-nav {
    .active>.nav-link {
      @extend %shared-menu-color;
    }
    .nav-link.active {
      @extend %shared-menu-color;
    }
    .nav-link.show {
      @extend %shared-menu-color;
    }
    .show>.nav-link {
      @extend %shared-menu-color;
    }
    .nav-link {
      @extend %shared-menu-color;
    }
  }
  .nav-item {
    font-size: 20px;
    font-family: "NexaBold";
    @extend %shared-menu-color;
    line-height: 1.504;
    margin-right: 15px;
  }
}

.home-section {
  background-image: url(../images/head.jpg); // background-position: 50% -55px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #ffffff;
  min-height: 600px;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    background-attachment: scroll;
  }
  .home-destaque {
    margin: 0;
    margin-top: 15%;
    .destaque {
      background-image: url(../images/backdate.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 720px;
      @media screen and (max-width: 1000px) {
        background-position: right;
      }
    }
  }
  .home-cta {
    padding-top: 45%;
    padding-left: 10%;
    text-align: left;
    @media screen and (max-width: 1000px) {
      padding-top:70%;
    }
    @media screen and (max-width: 700px) {
      padding-top: 100%;
    }
    p {
      font-size: 21px
    }
    button {
      background: linear-gradient(-90deg, #911c1c, red);
      border: 0px;
      color: #ffffff;
      border-radius: 15px;
    }
  }
}

.sobre-section {
  padding: 30px 90px;
  line-height: 1.124;
  img {
    width: 100%
  }
  p {
    font-family: "'Times New Roman', Times, serif";
    font-size: 18px;
  }
}

.btn-edicoes-anteriores {
  font-family: "SegoeUI";
  font-size: 25px;
  border-radius: 0;
  color: #ffffff;
  background-color: $color-btn;
  border-color: $color-btn;
  &:hover,
  &:visited,
  &:active,
  &:focus {
    background-color: #801C1C !important;
    border-color: #801C1C !important;
  }
  &:focus,
  &:not(:disabled):not(.disabled).active:focus,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 28, 28, .5);
  }
}

.section-regressiva {
  @extend %shared-background-red;
  padding: 50px;  
}

.btn-cta {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border-color: #ffffff;
  background: #00FC3C;
  border-radius: 10px;
}

.section-cta {
  @extend %shared-background-red;

  padding: 60px;

  p{
    font-size: 35px;
    font-weight: 600;
  }
  // height: 200px;
}

footer {
  background-color: #2B2B2B;
  padding: 50px;
  padding-bottom: 20px;
  .footer-left {
    border-right: 1px #ffffff;
    border-right-style: dashed;
    img {
      width: 100%;
    }
    p {
      line-height: 1em;
    }
  }
  .footer-right {
    img {
      width: 30%;
    }
    p {
      font-size: 14px;
    }
  }
  P {
    margin: 1em 0;
    color: #ffffff;
    font-size: 18px;
  }
}