@import "_mixing.scss";
@include font-face(NexaBold, "../fonts/NexaBold.ttf");
@include font-face(NexaLight, "../fonts/NexaLight.ttf");
@include font-face(SegoeUI, "../fonts/segoeui");
$color-btn: #911c1c;
%shared-menu-color {
  color: #911c1c;
}

%shared-background-red {
  background-size: cover;
  background-position: center;
  background-image: url(../images/fundocontagemregressiva.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

%h4-em-breve {
  font-family: "NexaLight";
  padding: 30px;
}

.container-fluid {
  padding-top: 80px;
}

.scrolled {
  background-color: #ffffff !important;
  transition: 0.3s;
}

.page {
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*overflow: hidden;*/
}

.navbar-red {
  .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    i {
      @extend %shared-menu-color;
    }
  }
  .navbar-nav {
    .active>.nav-link {
      @extend %shared-menu-color;
    }
    .nav-link.active {
      @extend %shared-menu-color;
    }
    .nav-link.show {
      @extend %shared-menu-color;
    }
    .show>.nav-link {
      @extend %shared-menu-color;
    }
    .nav-link {
      @extend %shared-menu-color;
    }
  }
  .nav-item {
    font-size: 20px;
    font-family: "NexaBold";
    @extend %shared-menu-color;
    line-height: 1.504;
    @media screen and (min-width: 992px) {
      margin-right: 15px;
    }

  }
  .navbar-brand {
    width: 231px;
  }
}

#home {
  padding-top: 0;
}

.home-section {
  background-image: url(../images/head.jpg); // background-position: 50% -55px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    min-height: 600px;
  }

  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    background-attachment: scroll;
  }
  .home-destaque {
    margin: 0;
    padding:0;
    margin-top: 15%;
    .destaque {
      background-image: url(../images/mote.png);
      background-repeat: no-repeat;
      background-size: contain;
      
      @media screen and (min-width: 768px) {
        background-size: cover;
        padding-bottom:60px;
      }
    
     padding-bottom:30px;
     background-position: bottom;
      @media screen and (min-width: 768px) {
        background-position: right;
        
      }

      @media screen and (min-width: 1200px) {
        background-position: initial;
        
      }
    }
  }
  .home-cta {
   
    
    @media screen and (min-width: 768px) {
      padding-left: 10%;
    }
    
    @media screen and (min-width: 768px) and (max-width: 992px) {
      padding-top: 45%;
    }
    text-align: left;

    padding-top:60%;

    @media screen and (min-width: 1200px) {
     // padding-top:70%;
    }
    
   
    p {
      font-size: 1em;
      @media screen and (min-width: 768px) {
        font-size: 21px
      }
    }
    .col-sm-6 {
      padding: 0px;
      button {
        background: linear-gradient(-90deg, #911c1c, red) !important;
        border: 0px;
        color: #ffffff;
        border-radius: 15px;
        font-family: "NexaLight";
        text-transform: uppercase;
        white-space: nowrap;
        &:active,
        &:focus {
          background-color: #C43131 !important;
          border-color: #C43131 !important;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.sobre-section {
  padding: 0px 30px 30px;
  line-height: 1.124; 
  
  img {
    width: 100%
  }
  p {
    font-family: "NexaLight";
    font-size: 18px;
  }

  h3{
    @media screen and (max-width: 700px) {
      margin-top: 10%;
      margin-bottom: 0;
    }
  }
}

.card {
  text-align: center;
  padding: 20px 0px;
  iframe {
    min-height: 200px;
  }
}

.btn-edicoes-anteriores {
  font-family: "SegoeUI";
  font-size: 25px;
  border-radius: 0;
  color: #ffffff;
  background-color: $color-btn !important;
  border-color: $color-btn !important;
  margin: 0px !important;
  &:hover,
  &:visited,
  &:active,
  &:focus {
    background-color: #C43131 !important;
    border-color: #C43131 !important;
  }
  &:focus,
  &:not(:disabled):not(.disabled).active:focus,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 28, 28, .5);
  }
}

.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #C43131 !important;
  border-color: #C43131 !important;
}

.section-regressiva {
  @extend %shared-background-red;
  padding: 50px;
  font-family: "NexaBold";
}

.btn-cta {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background: #00FC3C;
  border-radius: 10px;
  font-family: "NexaLight";
  white-space: nowrap;
}

.section-evento {
  padding: 50px 0;
  text-align: center;
  font-family: "NexaLight";
  img {
    width: 85%;
    margin-bottom: 10px;
  }
  .tit-comunidade {
    line-height: 50px;
  }

  h4{
    @media screen and (max-width: 768px) {
      font-size: 1.3rem;
    }
  }

  p {
    
    text-align: left;
    font-size: 16px;
    @media screen and (max-width: 760px) {
      padding: 10px 25px 0px 25px;      
    }

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

.section-convidados {
  text-align: center;
  h3 {
    font-family: "NexaBold";
    padding-bottom: 30px;
  }
  h4 {
    @extend %h4-em-breve;
  }
  .row {
    
    .view {
      margin: 0px;
      padding: 0px;
      @media screen and (min-width: 1200px)   {
        max-width: 80%;
      }
     
    }
    .img-fluid {
      width: 100%;
    }
    .card-hover {

      h5{
        font-size: 1.5rem;

        @media screen and (min-width: 768px) and (max-width: 768px)  {
          font-size: 1.25rem;
        }
        @media screen and (min-width: 1200px)   {
          font-size: 1.25rem;
        }
      }

      padding: 50px;
      @media screen and (min-width: 768px) and (max-width: 768px) {
        padding: 35px;
      }

      text-align: left;
      p {
        font-size: 1rem;
        margin-bottom: 0px;
        &:nth-child(4n) {
          margin-top: 10px;
          i {
            color: #ffffff;
            padding: 5px;
            border: 1px solid;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

.section-agenda {
  padding-bottom: 50px;
  h3 {
    font-family: "NexaBold";
    font-weight: 600;
    margin-bottom: 25px;
  }
  h4 {
    @extend %h4-em-breve;
  }
  .agenda {
    margin: 0 auto;
   
    .programacao {
      border-bottom: 1px dotted #cccccc;
      padding-bottom: 15px;
      margin-top:15px;
      min-height: 100px;

      .horarios {
        font-weight: bold;
        font-size: 2.1em;
        padding-left: 0px;
      }    

      .seta-cinza, .seta-vermelha{
        background-position: left center,
        center;
        background-repeat: no-repeat,
        no-repeat;
      }
      .seta-cinza {
        @media screen and (max-width: 760px) {
          background-image: url(../images/gray_bol.png);        
        }
        background-image: url(../images/gray_bol.png),
        url(../images/set_cinza.png);       
      }

    
      .seta-vermelha{
        background-image: url(../images/red_bol.png),
        url(../images/seta_vermelha.png);
      }


      .seta-vermelha-grande{
        background-image: url(../images/red_bol.png),
        url(../images/seta_vermelha.png), url(../images/lacuna_vermelha.png);
        background-position: left center,
        center, 58%;
        background-repeat: no-repeat,
        no-repeat, repeat-y;
      }

      .seta-cinza, .seta-vermelha, .seta-vermelha-grande{
        @media screen and (max-width: 760px) {         
          background-position: center;
          background-repeat: no-repeat;
          height: 50px;
        }
      }

      .seta-vermelha,.seta-vermelha-grande{
        @media screen and (max-width: 760px) {
          background-image: url(../images/red_bol.png);         
        }
      }
      
      .tema, .tema-curto,.tema-longo {
        @media screen and (min-width: 768px) {
          text-align: left;
        }
        font-weight: bold;        
      }

      .tema, .tema-curto, .tema-longo{
        font-size: 1.7em;
      }
      .tema-curto {
        line-height: 3;
      }

      .tema-longo{
        @media screen and (min-width: 768px) {
          font-size: 1.4em;
        }
        

        .tema-convidados{
          font-size: 0.9em;
          font-weight: 300;    
        }
      }
    }

    div:last-child{
      border-bottom: 0px;
    }
  }
}

.section-cta {
  @extend %shared-background-red;
  padding: 60px;
  p {
    font-family: "NexaBold";
    font-size:1.17em;

    @media screen and (min-width: 992px) {
    font-size: 35px;
    }
    font-weight: 600;
  } 
}

#localizacao {
  padding: 80px 0px 0px 0px;
  h3 {
    font-family: "NexaBold";
    text-align: center;
    margin-bottom: 50px;
  }
  .mapouter {
    text-align: right;
    height: 500px;
    width: 100%;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 100%;
  }
}

footer {
  background-color: #2B2B2B;
  padding: 50px;
  padding-bottom: 20px;
  h5 {
    color: #ffffff;
    margin-top: 1.5rem;

    font-size: 1rem;
    @media screen and (min-width: 768px) {
      font-size: 1.25rem
    }
  }
  .footer-left {
    margin-bottom: 20px;

    border-bottom: 1px #ffffff;
    border-bottom-style: dashed; 

    @media screen and (min-width: 768px) {
      border-bottom:0px;
      border-right: 1px #ffffff;
      border-right-style: dashed; 
    }
    
    img {
      width: 100%;
      @media screen and (min-width: 1200px) {
       width: initial;
      }
    }
    p {
      line-height: 1.5em;

      font-size: 0.9rem;
      @media screen and (min-width: 768px) {
        line-height: 1em;
        font-size: 18px
      }
     
    }
  }
  .footer-right {
    img {
      width: 65%;
      @media screen and (min-width: 768px) {
       width: 55%;
      }
      @media screen and (min-width: 992px) {
        width: 35%;
      }
    }
    p {

      @media screen and (min-width: 992px) {
        padding: 0px 40px;
      }
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  P {
    margin: 1em 0;
    color: #ffffff; 
    font-size: 14px;

    @media screen and (min-width: 768px) and (max-width: 992px) {
      font-size:1.1rem;
    }
  }
}

.collapse {
  margin: 0 auto;
  h4 {
    @extend %h4-em-breve;
  }
}