@font-face {
  font-family: "NexaBold";
  src: url("../fonts/NexaBold.ttf.eot?") format("eot"), url("../fonts/NexaBold.ttf.woff") format("woff"), url("../fonts/NexaBold.ttf.ttf") format("truetype"), url("../fonts/NexaBold.ttf.svg#NexaBold") format("svg");
}

@font-face {
  font-family: "NexaLight";
  src: url("../fonts/NexaLight.ttf.eot?") format("eot"), url("../fonts/NexaLight.ttf.woff") format("woff"), url("../fonts/NexaLight.ttf.ttf") format("truetype"), url("../fonts/NexaLight.ttf.svg#NexaLight") format("svg");
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/segoeui.eot?") format("eot"), url("../fonts/segoeui.woff") format("woff"), url("../fonts/segoeui.ttf") format("truetype"), url("../fonts/segoeui.svg#SegoeUI") format("svg");
}

.navbar-red .navbar-toggler i, .navbar-red .navbar-nav .active > .nav-link, .navbar-red .navbar-nav .nav-link.active, .navbar-red .navbar-nav .nav-link.show, .navbar-red .navbar-nav .show > .nav-link, .navbar-red .navbar-nav .nav-link, .navbar-red .nav-item {
  color: #911c1c;
}

.section-regressiva, .section-cta {
  background-size: cover;
  background-position: center;
  background-image: url(../images/fundocontagemregressiva.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.section-convidados h4, .section-agenda h4, .section-apoio h4 {
  font-family: "NexaLight";
  padding: 30px;
}

.container-fluid {
  padding-top: 80px;
}

.scrolled {
  background-color: #ffffff !important;
  transition: 0.3s;
}

.page {
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*overflow: hidden;*/
}

.navbar-red .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-red .nav-item {
  font-size: 20px;
  font-family: "NexaBold";
  line-height: 1.504;
  margin-right: 15px;
}

.navbar-red .navbar-brand {
  width: 231px;
}

#home {
  padding-top: 0;
}

.home-section {
  background-image: url(../images/head.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #ffffff;
  min-height: 600px;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .home-section {
    background-attachment: scroll;
  }
}

.home-section .home-destaque {
  margin: 0;
  margin-top: 15%;
}

.home-section .home-destaque .destaque {
  background-image: url(../images/imagem_mote.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}

@media screen and (max-width: 1000px) {
  .home-section .home-destaque .destaque {
    background-position: right;
  }
}

.home-section .home-cta {
  padding-top: 45%;
  padding-left: 10%;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .home-section .home-cta {
    padding-top: 70%;
  }
}

@media screen and (max-width: 700px) {
  .home-section .home-cta {
    padding-top: 100%;
  }
}

.home-section .home-cta p {
  font-size: 21px;
}

.home-section .home-cta .col-sm-6 {
  padding: 0px;
}

.home-section .home-cta .col-sm-6 button {
  background: linear-gradient(-90deg, #911c1c, red);
  border: 0px;
  color: #ffffff;
  border-radius: 15px;
  font-family: "NexaLight";
}

.sobre-section {
  padding: 0px 30px 90px;
  line-height: 1.124;
}

.sobre-section img {
  width: 100%;
}

.sobre-section p {
  font-family: "NexaLight";
  font-size: 18px;
}

.btn-edicoes-anteriores {
  font-family: "SegoeUI";
  font-size: 25px;
  border-radius: 0;
  color: #ffffff;
  background-color: #911c1c;
  border-color: #911c1c;
}

.btn-edicoes-anteriores:hover, .btn-edicoes-anteriores:visited, .btn-edicoes-anteriores:active, .btn-edicoes-anteriores:focus {
  background-color: #C43131 !important;
  border-color: #C43131 !important;
}

.btn-edicoes-anteriores:focus, .btn-edicoes-anteriores:not(:disabled):not(.disabled).active:focus, .btn-edicoes-anteriores:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem rgba(145, 28, 28, 0.5);
}

.section-regressiva {
  padding: 50px;
  font-family: "NexaBold";
}

.btn-cta {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border-color: #ffffff;
  background: #00FC3C;
  border-radius: 10px;
  font-family: "NexaLight";
}

.section-evento {
  padding: 50px 0;
  text-align: center;
  font-family: "NexaLight";
}

.section-evento img {
  width: 85%;
  margin-bottom: 10px;
}

.section-evento .tit-comunidade {
  line-height: 50px;
}

.section-evento p {
  text-align: left;
  font-size: 16px;
}

.section-convidados {
  text-align: center;
}

.section-convidados h3 {
  font-family: "NexaBold";
  padding-bottom: 30px;
}

.section-convidados .row .col-sm-2 {
  margin: 0px;
  padding: 0px;
}

.section-agenda {
  background-color: #514C4C;
  color: #ffffff;
  padding: 50px;
}

.section-agenda h3 {
  font-family: "NexaBold";
  font-weight: 600;
}

.section-cta {
  padding: 60px;
}

.section-cta p {
  font-family: "NexaBold";
  font-size: 35px;
  font-weight: 600;
}

.section-apoio {
  padding: 50px;
}

.section-apoio h3 {
  font-family: "NexaBold";
}

.section-apoio h3 span {
  color: #02771E;
}

footer {
  background-color: #2B2B2B;
  padding: 50px;
  padding-bottom: 20px;
}

footer .footer-left {
  border-right: 1px #ffffff;
  border-right-style: dashed;
}

footer .footer-left img {
  width: 70%;
}

footer .footer-left p {
  line-height: 1em;
}

footer .footer-right img {
  width: 35%;
}

footer .footer-right p {
  padding: 0px 40px;
}

footer P {
  margin: 1em 0;
  color: #ffffff;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */