@import "_mixing.scss";
@include font-face(NexaBold, "../fonts/NexaBold.ttf");
@include font-face(NexaLight, "../fonts/NexaLight.ttf");
@include font-face(SegoeUI, "../fonts/segoeui");
$color-btn: #911c1c;
%shared-menu-color {
  color: #911c1c;
}

%shared-background-red {
  background-size: cover;
  background-position: center;
  background-image: url(../images/fundocontagemregressiva.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

%h4-em-breve {
  font-family: "NexaLight";
  padding: 30px;
}

.container-fluid {
  padding-top: 80px;
}

.scrolled {
  background-color: #ffffff !important;
  transition: 0.3s;
}

.page {
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*overflow: hidden;*/
}

.navbar-red {
  .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
    i {
      @extend %shared-menu-color;
    }
  }
  .navbar-nav {
    .active>.nav-link {
      @extend %shared-menu-color;
    }
    .nav-link.active {
      @extend %shared-menu-color;
    }
    .nav-link.show {
      @extend %shared-menu-color;
    }
    .show>.nav-link {
      @extend %shared-menu-color;
    }
    .nav-link {
      @extend %shared-menu-color;
    }
  }
  .nav-item {
    font-size: 20px;
    font-family: "NexaBold";
    @extend %shared-menu-color;
    line-height: 1.504;
    margin-right: 15px;
  }
  .navbar-brand {
    width: 231px;
  }
}

#home {
  padding-top: 0;
}

.home-section {
  background-image: url(../images/head.jpg); // background-position: 50% -55px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #ffffff;
  min-height: 600px;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  @media screen and (max-width: 1024px) {
    background-attachment: scroll;
  }
  .home-destaque {
    margin: 0;
    margin-top: 15%;
    .destaque {
      background-image: url(../images/mote.png);
      background-repeat: no-repeat;
      background-size: cover;
      height: 720px;
      @media screen and (max-width: 1000px) {
        background-position: right;
      }
    }
  }
  .home-cta {
    padding-top: 45%;
    padding-left: 10%;
    text-align: left;
    @media screen and (max-width: 1000px) {
      padding-top:70%;
    }
    @media screen and (max-width: 700px) {
      padding-top: 100%;
    }
    p {
      font-size: 21px
    }
    .col-sm-6 {
      padding: 0px;
      button {
        background: linear-gradient(-90deg, #911c1c, red) !important;
        border: 0px;
        color: #ffffff;
        border-radius: 15px;
        font-family: "NexaLight";
        text-transform: uppercase;
        white-space: nowrap;
        &:active,
        &:focus {
          background-color: #C43131 !important;
          border-color: #C43131 !important;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }
}

.sobre-section {
  padding: 0px 30px 30px;
  line-height: 1.124; //img {
  //width: 100%
  //}
  p {
    font-family: "NexaLight";
    font-size: 18px;
  }
}

.card {
  text-align: center;
  padding: 20px 0px;
  iframe {
    min-height: 200px;
  }
}

.btn-edicoes-anteriores {
  font-family: "SegoeUI";
  font-size: 25px;
  border-radius: 0;
  color: #ffffff;
  background-color: $color-btn !important;
  border-color: $color-btn !important;
  margin: 0px !important;
  &:hover,
  &:visited,
  &:active,
  &:focus {
    background-color: #C43131 !important;
    border-color: #C43131 !important;
  }
  &:focus,
  &:not(:disabled):not(.disabled).active:focus,
  &:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(145, 28, 28, .5);
  }
}

.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #C43131 !important;
  border-color: #C43131 !important;
}

.section-regressiva {
  @extend %shared-background-red;
  padding: 50px;
  font-family: "NexaBold";
}

.btn-cta {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background: #00FC3C;
  border-radius: 10px;
  font-family: "NexaLight";
  white-space: nowrap;
}

.section-evento {
  padding: 50px 0;
  text-align: center;
  font-family: "NexaLight";
  img {
    width: 85%;
    margin-bottom: 10px;
  }
  .tit-comunidade {
    line-height: 50px;
  }
  p {
    text-align: left;
    font-size: 16px;
  }
}

.section-convidados {
  text-align: center;
  h3 {
    font-family: "NexaBold";
    padding-bottom: 30px;
  }
  h4 {
    @extend %h4-em-breve;
  }
  .row {
    .col-sm-3 {
      margin: 0px;
      padding: 0px;
      max-width: 20%;
    }
    .img-fluid{
      width: 100%;
    }
    .card-hover {
      padding: 50px;
      text-align: left;
      p {
        font-size: 0.8rem;
        margin-bottom: 0px;
        &:nth-child(4n) {
          margin-top: 10px;
          i {
            color: #ffffff;
            padding: 5px;
            border: 1px solid;
            border-radius: 15px;
          }
        }
      }
    }
  }
}

.section-agenda {
  background-color: #514C4C;
  color: #ffffff;
  padding-bottom: 50px;
  h3 {
    font-family: "NexaBold";
    font-weight: 600;
    margin-bottom: 25px;
  }
  h4 {
    @extend %h4-em-breve;
  }

 

  .programacao {
    @media screen and (min-width: 768px) {
      margin-left: 33.333333%;
    }
    img
    {
      width: 50%;
      margin-top:25px
    }

    .img55{
      width: 53%;
    }

    .img60{
      width: 60%;
    }

    .img70{
      width: 70%;
    }

    .img85{
      width: 85%;
    }

    .img90{
      width: 90%;
    }
  
    .imgConvidados{
      margin-left:80px;
      @media screen and (max-width: 768px) {
        margin-left:40px;
      }
      p{
        font-size: 18px;
        font-weight: 500;
        padding-right: 60px;

        @media screen and (max-width: 768px) {
          font-size: 12px;
          font-weight: 500;
        }

        span{
          font-weight: 300;
          font-size:16px;
        }
      }
    }
    // padding: 0px 15px;
    // max-width: 94%;
    // margin: 0 auto;
    // overflow: hidden;
    // margin-bottom: 14px;
    // height: 145px;
    // font-size: 1.2rem;
    // @media screen and (min-width: 768px) {
    //   margin-top: 30px;
    // }
    // @media screen and (max-width: 802px) {
    //   .col-sm-3 {
    //     width: 25%
    //   }
    // }
    // .horarios {
    //   @media screen and (min-width: 768px) {
    //     background-image: url(../images/horarios.png);
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     height: 145px;
    //   }
    //   @media screen and (max-width: 767px) {
    //     background: #ffffff;
    //     width: 35%;
    //     height: 100%;
    //     border-radius: 50px;
    //   }
    //   p {
    //     color: #000000;
    //     margin-left: 12px;
    //     padding-top: 40px;
    //     text-align: left;
    //     font-size: 21px;
    //     width: 40%;
    //     @media screen and (max-width: 767px) {
    //       padding: 0px;
    //       text-align: center;
    //       margin-left: 0px;
    //       width: 30%;
    //     }
    //   }
    // }
    // p {
    //   padding: 0px;
    //   font-weight: 500;
    // }
    // .p1 {
    //   padding: 45px 20px 0px 20px;
    //   @media screen and (max-width: 767px) {
    //     padding-top: 15px;
    //   }
    // }
    // .p2 {
    //   padding-top: 55px;
    // }
    // .desc-big {
    //   @media screen and (max-width: 600px) {
    //     width: 65% !important;
    //     p {
    //       font-size: 12px;
    //     }
    //   }
    //   .p2 {
    //     padding-top:30px;
    //   }
    // }
    // .col4 {
    //   @media screen and (max-width: 767px) {
    //     display:none;
    //   }
    // } // .cta-agenda {
    // background-color: #02771E
    // }
  }
}

.section-cta {
  @extend %shared-background-red;
  padding: 60px;
  p {
    font-family: "NexaBold";
    font-size: 35px;
    font-weight: 600;
  } // height: 200px;
}

.section-apoio {
  padding: 50px;
  h3 {
    font-family: "NexaBold";
    span {
      color: #02771E;
    }
  }
  h4 {
    @extend %h4-em-breve;
  }
}

footer {
  background-color: #2B2B2B;
  padding: 50px;
  padding-bottom: 20px;
  h5 {
    color: #ffffff;
    margin-top: 1.5rem;
  }
  .footer-left {
    border-right: 1px #ffffff;
    border-right-style: dashed; // img {
    //   width: 70%;
    // }
    p {
      line-height: 1em;
      font-size: 18px
    }
  }
  .footer-right {
    img {
      width: 35%;
    }
    p {
      padding: 0px 40px;
      a {
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  P {
    margin: 1em 0;
    color: #ffffff; //font-size: 18px;
    font-size: 14px;
  }
}

.collapse {
  margin: 0 auto;
  h4 {
    @extend %h4-em-breve;
  }
}

#googleMap {
  width: 100%; /* Span the entire width of the screen */
  height: 400px; /* Set the height to 400 pixels */
  //-webkit-filter: grayscale(100%);
 // filter: grayscale(100%); /* Change the color of the map to black and white */
}