@font-face {
  font-family: "NexaBold";
  src: url("../fonts/NexaBold.ttf.eot?") format("eot"), url("../fonts/NexaBold.ttf.woff") format("woff"), url("../fonts/NexaBold.ttf.ttf") format("truetype"), url("../fonts/NexaBold.ttf.svg#NexaBold") format("svg");
}

@font-face {
  font-family: "NexaLight";
  src: url("../fonts/NexaLight.ttf.eot?") format("eot"), url("../fonts/NexaLight.ttf.woff") format("woff"), url("../fonts/NexaLight.ttf.ttf") format("truetype"), url("../fonts/NexaLight.ttf.svg#NexaLight") format("svg");
}

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/segoeui.eot?") format("eot"), url("../fonts/segoeui.woff") format("woff"), url("../fonts/segoeui.ttf") format("truetype"), url("../fonts/segoeui.svg#SegoeUI") format("svg");
}

.navbar-red .navbar-toggler i, .navbar-red .navbar-nav .active > .nav-link, .navbar-red .navbar-nav .nav-link.active, .navbar-red .navbar-nav .nav-link.show, .navbar-red .navbar-nav .show > .nav-link, .navbar-red .navbar-nav .nav-link, .navbar-red .nav-item {
  color: #911c1c;
}

.section-regressiva, .section-cta {
  background-size: cover;
  background-position: center;
  background-image: url(../images/fundocontagemregressiva.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.section-convidados h4, .section-agenda h4, .collapse h4 {
  font-family: "NexaLight";
  padding: 30px;
}

.container-fluid {
  padding-top: 80px;
}

.scrolled {
  background-color: #ffffff !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page {
  overflow: hidden;
}

body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  /*overflow: hidden;*/
}

.navbar-red .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-red .nav-item {
  font-size: 20px;
  font-family: "NexaBold";
  line-height: 1.504;
}

@media screen and (min-width: 992px) {
  .navbar-red .nav-item {
    margin-right: 15px;
  }
}

.navbar-red .navbar-brand {
  width: 231px;
}

#home {
  padding-top: 0;
}

.home-section {
  background-image: url(../images/head.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #ffffff;
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .home-section {
    min-height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .home-section {
    background-attachment: scroll;
  }
}

.home-section .home-destaque {
  margin: 0;
  padding: 0;
  margin-top: 15%;
}

.home-section .home-destaque .destaque {
  background-image: url(../images/mote.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 30px;
  background-position: bottom;
}

@media screen and (min-width: 768px) {
  .home-section .home-destaque .destaque {
    background-size: cover;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .home-section .home-destaque .destaque {
    background-position: right;
  }
}

@media screen and (min-width: 1200px) {
  .home-section .home-destaque .destaque {
    background-position: initial;
  }
}

.home-section .home-cta {
  text-align: left;
  padding-top: 60%;
}

@media screen and (min-width: 768px) {
  .home-section .home-cta {
    padding-left: 10%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .home-section .home-cta {
    padding-top: 45%;
  }
}

.home-section .home-cta p {
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .home-section .home-cta p {
    font-size: 21px;
  }
}

.home-section .home-cta .col-sm-6 {
  padding: 0px;
}

.home-section .home-cta .col-sm-6 button {
  background: -webkit-gradient(linear, right top, left top, from(#911c1c), to(red)) !important;
  background: linear-gradient(-90deg, #911c1c, red) !important;
  border: 0px;
  color: #ffffff;
  border-radius: 15px;
  font-family: "NexaLight";
  text-transform: uppercase;
  white-space: nowrap;
}

.home-section .home-cta .col-sm-6 button:active, .home-section .home-cta .col-sm-6 button:focus {
  background-color: #C43131 !important;
  border-color: #C43131 !important;
}

.home-section .home-cta .col-sm-6 button a {
  text-decoration: none;
  color: inherit;
}

.sobre-section {
  padding: 0px 30px 30px;
  line-height: 1.124;
}

.sobre-section img {
  width: 100%;
}

.sobre-section p {
  font-family: "NexaLight";
  font-size: 18px;
}

@media screen and (max-width: 700px) {
  .sobre-section h3 {
    margin-top: 10%;
    margin-bottom: 0;
  }
}

.card {
  text-align: center;
  padding: 20px 0px;
}

.card iframe {
  min-height: 200px;
}

.btn-edicoes-anteriores {
  font-family: "SegoeUI";
  font-size: 25px;
  border-radius: 0;
  color: #ffffff;
  background-color: #911c1c !important;
  border-color: #911c1c !important;
  margin: 0px !important;
}

.btn-edicoes-anteriores:hover, .btn-edicoes-anteriores:visited, .btn-edicoes-anteriores:active, .btn-edicoes-anteriores:focus {
  background-color: #C43131 !important;
  border-color: #C43131 !important;
}

.btn-edicoes-anteriores:focus, .btn-edicoes-anteriores:not(:disabled):not(.disabled).active:focus, .btn-edicoes-anteriores:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(145, 28, 28, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(145, 28, 28, 0.5);
}

.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #C43131 !important;
  border-color: #C43131 !important;
}

.section-regressiva {
  padding: 50px;
  font-family: "NexaBold";
}

.btn-cta {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  background: #00FC3C;
  border-radius: 10px;
  font-family: "NexaLight";
  white-space: nowrap;
}

.section-evento {
  padding: 50px 0;
  text-align: center;
  font-family: "NexaLight";
}

.section-evento img {
  width: 85%;
  margin-bottom: 10px;
}

.section-evento .tit-comunidade {
  line-height: 50px;
}

@media screen and (max-width: 768px) {
  .section-evento h4 {
    font-size: 1.3rem;
  }
}

.section-evento p {
  text-align: left;
  font-size: 16px;
}

@media screen and (max-width: 760px) {
  .section-evento p {
    padding: 10px 25px 0px 25px;
  }
}

@media screen and (max-width: 768px) {
  .section-evento p {
    text-align: center;
  }
}

.section-convidados {
  text-align: center;
}

.section-convidados h3 {
  font-family: "NexaBold";
  padding-bottom: 30px;
}

.section-convidados .row .view {
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 1200px) {
  .section-convidados .row .view {
    max-width: 80%;
  }
}

.section-convidados .row .img-fluid {
  width: 100%;
}

.section-convidados .row .card-hover {
  padding: 50px;
  text-align: left;
}

.section-convidados .row .card-hover h5 {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .section-convidados .row .card-hover h5 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .section-convidados .row .card-hover h5 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 768px) {
  .section-convidados .row .card-hover {
    padding: 35px;
  }
}

.section-convidados .row .card-hover p {
  font-size: 1rem;
  margin-bottom: 0px;
}

.section-convidados .row .card-hover p:nth-child(4n) {
  margin-top: 10px;
}

.section-convidados .row .card-hover p:nth-child(4n) i {
  color: #ffffff;
  padding: 5px;
  border: 1px solid;
  border-radius: 15px;
}

.section-agenda {
  padding-bottom: 50px;
}

.section-agenda h3 {
  font-family: "NexaBold";
  font-weight: 600;
  margin-bottom: 25px;
}

.section-agenda .agenda {
  margin: 0 auto;
}

.section-agenda .agenda .programacao {
  border-bottom: 1px dotted #cccccc;
  padding-bottom: 15px;
  margin-top: 15px;
  min-height: 100px;
}

.section-agenda .agenda .programacao .horarios {
  font-weight: bold;
  font-size: 2.1em;
  padding-left: 0px;
}

.section-agenda .agenda .programacao .seta-cinza, .section-agenda .agenda .programacao .seta-vermelha {
  background-position: left center, center;
  background-repeat: no-repeat, no-repeat;
}

.section-agenda .agenda .programacao .seta-cinza {
  background-image: url(../images/gray_bol.png), url(../images/set_cinza.png);
}

@media screen and (max-width: 760px) {
  .section-agenda .agenda .programacao .seta-cinza {
    background-image: url(../images/gray_bol.png);
  }
}

.section-agenda .agenda .programacao .seta-vermelha {
  background-image: url(../images/red_bol.png), url(../images/seta_vermelha.png);
}

.section-agenda .agenda .programacao .seta-vermelha-grande {
  background-image: url(../images/red_bol.png), url(../images/seta_vermelha.png), url(../images/lacuna_vermelha.png);
  background-position: left center, center, 58%;
  background-repeat: no-repeat, no-repeat, repeat-y;
}

@media screen and (max-width: 760px) {
  .section-agenda .agenda .programacao .seta-cinza, .section-agenda .agenda .programacao .seta-vermelha, .section-agenda .agenda .programacao .seta-vermelha-grande {
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
  }
}

@media screen and (max-width: 760px) {
  .section-agenda .agenda .programacao .seta-vermelha, .section-agenda .agenda .programacao .seta-vermelha-grande {
    background-image: url(../images/red_bol.png);
  }
}

.section-agenda .agenda .programacao .tema, .section-agenda .agenda .programacao .tema-curto, .section-agenda .agenda .programacao .tema-longo {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .section-agenda .agenda .programacao .tema, .section-agenda .agenda .programacao .tema-curto, .section-agenda .agenda .programacao .tema-longo {
    text-align: left;
  }
}

.section-agenda .agenda .programacao .tema, .section-agenda .agenda .programacao .tema-curto, .section-agenda .agenda .programacao .tema-longo {
  font-size: 1.7em;
}

.section-agenda .agenda .programacao .tema-curto {
  line-height: 3;
}

@media screen and (min-width: 768px) {
  .section-agenda .agenda .programacao .tema-longo {
    font-size: 1.4em;
  }
}

.section-agenda .agenda .programacao .tema-longo .tema-convidados {
  font-size: 0.9em;
  font-weight: 300;
}

.section-agenda .agenda div:last-child {
  border-bottom: 0px;
}

.section-cta {
  padding: 60px;
}

.section-cta p {
  font-family: "NexaBold";
  font-size: 1.17em;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .section-cta p {
    font-size: 35px;
  }
}

#localizacao {
  padding: 80px 0px 0px 0px;
}

#localizacao h3 {
  font-family: "NexaBold";
  text-align: center;
  margin-bottom: 50px;
}

#localizacao .mapouter {
  text-align: right;
  height: 500px;
  width: 100%;
}

#localizacao .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 100%;
}

footer {
  background-color: #2B2B2B;
  padding: 50px;
  padding-bottom: 20px;
}

footer h5 {
  color: #ffffff;
  margin-top: 1.5rem;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  footer h5 {
    font-size: 1.25rem;
  }
}

footer .footer-left {
  margin-bottom: 20px;
  border-bottom: 1px #ffffff;
  border-bottom-style: dashed;
}

@media screen and (min-width: 768px) {
  footer .footer-left {
    border-bottom: 0px;
    border-right: 1px #ffffff;
    border-right-style: dashed;
  }
}

footer .footer-left img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  footer .footer-left img {
    width: initial;
  }
}

footer .footer-left p {
  line-height: 1.5em;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  footer .footer-left p {
    line-height: 1em;
    font-size: 18px;
  }
}

footer .footer-right img {
  width: 65%;
}

@media screen and (min-width: 768px) {
  footer .footer-right img {
    width: 55%;
  }
}

@media screen and (min-width: 992px) {
  footer .footer-right img {
    width: 35%;
  }
}

@media screen and (min-width: 992px) {
  footer .footer-right p {
    padding: 0px 40px;
  }
}

footer .footer-right p a {
  text-decoration: none;
  color: #ffffff;
}

footer P {
  margin: 1em 0;
  color: #ffffff;
  font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  footer P {
    font-size: 1.1rem;
  }
}

.collapse {
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */